<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="brush">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.020252 0.016644 1.3454E-18"
        rpy="0 0 0" />
      <mass
        value="0.11505" />
      <inertia
        ixx="0.00030617"
        ixy="-3.3617E-05"
        ixz="1.2367E-21"
        iyy="0.00015489"
        iyz="-3.0942E-20"
        izz="0.00018021" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brush/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brush/meshes/brush_part_0.glb" />
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brush/meshes/brush_part_1.glb" />
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brush/meshes/brush_part_2.glb" />
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brush/meshes/brush_part_3.glb" />
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brush/meshes/brush_part_4.glb" />
      </geometry>
    </collision>
  </link>
</robot>